<div class="login-form">
  <h2 class="form-title">Profile Information</h2>
  <%= simple_form_for @profile do |f| %>
    <%= f.input :first_name,
                  placeholder: "First Name",
                  label: false %>
    <%= f.input :last_name,
                  placeholder: "Last Name",
                  label: false %>
    <%= f.input :address,
                  placeholder: "Address",
                  label: false %>
                  <h4 class="form-title">Profile Photo</h4>
    <%= f.input :photo,
                label: false %>
      <%= f.input :photo_cache, as: :hidden %>
    <div class="form-actions">
      <%= f.button :submit, "Create Profile" %>
    </div>
  <% end %>
</div>
