
<%= render 'shared/navbar' %>




<% icon_array = ["light", "fire", "death", "forest", "water"] %>

<div class="event-card">
  <div class="titlebar">
    <h1><%= "#{current_user.profile.first_name} #{current_user.profile.last_name}" %></h1>
    <div class="element-icons">
      <% rand(1..3).times do %>
        <%= image_tag("#{icon_array.sample}") %>
      <% end %>
    </div>
  </div>
  <div class="main-img-container">
    <%= cl_image_tag current_user.profile.photo, class: "main-img" %>
  </div>
  <div class="infobar">
    <p> <%= current_user.email %> %></p>
  </div>
  <div class="description-box">

    <p></p>
  </div>
</div>
