
<%= render 'shared/navbar' %>

<% icon_array = ["light", "fire", "death", "forest", "water"] %>
<div class="container">

<div class="profile-card">
  <div class="titlebar">
    <p><%= "#{@user.profile.first_name} #{@user.profile.last_name}" %></p>
    <div class="element-icons">
      <% rand(1..3).times do %>
        <%= image_tag("#{icon_array.sample}") %>
      <% end %>
    </div>
  </div>
  <div class="main-img-container">
    <%= cl_image_tag @user.profile.photo, class: "main-img" %>
  </div>
  <div class="infobar">
    <p> <%= @user.email %></p>
  </div>
  <div class="description-box">
    <p><%= "Power Level: #{rand(13..78)}" %></p>

    <p><%= "Skill: Currywurst cooking: #{rand(4..17)}" %></p>


  </div>
</div>
</div>
