
<div class="banner">

  <div class="banner-info">
  </div>
    <h1><%= "#{current_user.profile.first_name} #{current_user.profile.last_name}" %></h1>
    <h3><%= current_user.email %></h3>
    <p class="profile-address"><%= current_user.profile.address %></p>

  <div class="row">
    <%= cl_image_tag @profile.photo, height: 350, width: 350, crop: :fill %>
    <div>
      <p class="profile-event">Hosted Events</p>
      <% @current_user.events.each do |event| %>
        <p class="profile-event">
          <%= event.description %> <%= event.date %>
        </p>

      <% end %>
    </div>
  </div>
</div>
