<div class="event-card">
  <div class="titlebar">
    <h1><%= event.game %></h1>
    <div class="element-icons">
      <%= image_tag("light") %>
      <%= image_tag("light") %>
    </div>
  </div>
  <%= image_tag("monsters/stone", class: "main-img") %>
  <div class="infobar">
    <p> <%= event.date.strftime('%A, %b %d') %></p>
  </div>
  <div class="description-box">
    <p><%= event.description %></p>
  </div>
</div>

<!-- <%#= link_to "See More", event_path(event) %> -->
