<div class="event-card">
  <%= image_tag("https://picsum.photos/700/300") %>
  <div class="event-content">
  <%= cl_image_tag event.user.profile.photo, gravity: "face", width: 150, height:150, crop: "thumb" %>
    <div class="left-content">
      <h1><%= event.game %></h1>
      <p><%= event.description %></p>
    </div>
    <div class="right-content">
      <p><%= event.date %></p>
    </div>
  </div>
</div>
     <!-- <%= link_to "See More", event_path(event) %> -->
