<div class="banner">

  <div class="banner-info">
    <h1>Events</h1>

    <% @events.each do |event| %>

    <article>
      <h4><%= event.game %></h4>
      <%= link_to event.description, event_path(event) %>
      <br>
      <%= event.date %>
      <br>
      <% if event.user.profile %>
        <%= event.user.profile.first_name %>
      <% end %>


    </article>

    <% end %>
    <%= link_to "Home", root_path, class: "banner-btn" %>


  </div>




</div>
