
<%= render "shared/navbar" %>

<div class="event-full-container">
  <div class="index-banner">
    <%= form_tag events_path, method: :get, class: "search-bar" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for Events" %>
    <% end %>

    <%= link_to "Events Near Me", near_me_event_path(1), class: "btn btn-primary"  %>
  </div>

  <div class="container">
    <div class="event-list">
        <% @events.each do |event| %>
          <%= link_to event_path(event), style: "text-decoration: none" do %>
            <%= render partial: "event-card", locals: {event: event} %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

