<div class="page-wrapper">


  <div class="event-show-card">

    <div class="column-one">
      <div class="game-image">
        <%= cl_image_tag @event.photo %>
      </div>

      <div class="host-details">
        <%= cl_image_tag @event.user.profile.photo %>
        <h3>Your Host</h3>
        <%= link_to user_path(@event.user) do  %>
          <h3><%= @event.user.profile.first_name %></h3>
        <% end %>


      </div>

      <div class="host-actions">

        <% if current_user == @event.user %>
          <h4> Control Panel </h4>

          <%= link_to edit_event_path(@event) do %>
            <i class="fas fa-user-edit"> Edit</i>
          <% end %>
          <br>
          <%= link_to event_path(@event), method: 'delete' do %>
          <i class="fas fa-trash">Delete</i>
          <% end %>
        <% end %>

        <% if current_user != @event.user %>
          <%= simple_form_for([@event, @booking]) do |f| %>
            <%= f.submit "JOIN THE PARTY" %>
          <% end %>

        <% end %>

      </div>


    </div>


    <div class="column-two">

      <div class="game-name">
        <h1><%= @event.game %></h1>
      </div>

      <div class="game-details">
        <div class="date">
          <%= @event.date.strftime('%A, %b %d') %>
        </div>

        <div class="address">
          <%= @event.location %>
        </div>
      </div>

      <div class="game-description">
        <%= @event.description %>
      </div>
    </div>





    <div class="column-three">
      <div class="player-list">

        <h2> Players </h2>
        <% @event.bookings.each do |booking| %>

          <div class="player-card">
            <div class="player-img">
              <%= cl_image_tag booking.user.profile.photo %>
            </div>
            <div class="player-details">
              <p class="player-name"><%= booking.user.profile.first_name %></p>

              <% if booking.accepted %>
                <p class="player-status"> is coming to the game </p>
              <% else %>
                <p class="player-status"> is awaiting approval </p>
              <% end %>

            </div>
            <div class="booking-control">
              <% if  current_user == @event.user%>
                <div class="booking-actions">
                  <%= link_to "YES/NO", event_booking_path(@event, booking), method: "patch", class: "accept-toggle"%>
                </div>
              <% end %>
            </div>
          </div>

        <% end %>

      </div>

      <%= link_to events_path do %>
        <div class="show-bck-btn">
          <div class="show-bck-btn-icon">
            <%= image_tag("airdnd") %>
          </div>
          <div class="show-bck-btn-text">
            <p>Back</p>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>
