<div class="container">
<h1><%= @event.description %></h1>

<% if @profile %>
  <p>Hosted by: <%= @profile.first_name %></p>
<% end %>



<br>
<p>Event Location: <%= @event.location %> </p>
<br>
<p>We are playing: <%= @event.game %></p>
<br>
<p>Game will be played on: <%= @event.date %></p>

<%= simple_form_for([@event, @booking]) do |f| %>
    <%= f.submit "Join the Party" %>
<% end %>

<p><%= link_to "edit", edit_event_path(@event) %></p>
<%= link_to "Home", root_path  %>

</div>

