<div class="page-wrapper">


  <div class="event-show-card">

    <div class="column-one">
      <div class="game-image">
        <%= image_tag "dnd.png", alt: "alttext" %>
      </div>

      <div class="host-details">
        <%= cl_image_tag @profile.photo %>

        <%= link_to user_path(@event.user) do  %>
        <h3><%= @profile.first_name %></h3>
        <% end %>


      </div>

        <div class="host-actions">

          <% if policy(@event).edit? %>
            <%= link_to edit_event_path(@event) do %>
              <i class="fas fa-user-edit"></i>
            <% end %>
          <% end %>

          <% if policy(@event).destroy? %>
            <%= link_to event_path(@event), method: 'delete' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% end %>

        </div>


    </div>


    <div class="column-two">

      <div class="game-name">
        <h1><%= @event.game %></h1>
      </div>

      <div class="game-details">

        <div class="date">
          <%= @event.date.strftime('%A, %b %d') %>
        </div>

        <div class="address">
          <%= @event.location %>

        </div>

      </div>

        <div class="game-description">
            <%= @event.description %>
        </div>

    </div>


    <div class="column-three">
      <div class="player-list">

        <h2> Players </h2>
        <% @event.bookings.each do |booking| %>

          <div class="player-card">
            <div class="player-img">
              <%= cl_image_tag booking.user.profile.photo %>
            </div>
            <div class="player-details">
              <p class="player-name"><%= booking.user.profile.first_name %></p>

                <% if booking.accepted %>
                 <p class="player-status"> is coming to the game </p>
                 <% else %>
                <p class="player-status"> is awaiting approval </p>
                <% end %>

            </div>
            <div class="booking-control">
              <% if  current_user == @event.user%>
                <div class="booking-actions">
                        <%= link_to "ACCEPT/DECLINE", event_booking([@event, booking])%>
                </div>
              <% end %>
            </div>
          </div>

          <% end %>



    </div>


  </div>

  </div>





</div>
