<div class="container">
<h1><%= @event.description %></h1>

<% if @profile %>
  <p>Hosted by: <%= @profile.first_name %></p>
<% end %>



<br>
<p>Event Location: <%= @event.location %> </p>
<br>
<p>We are playing: <%= @event.game %></p>
<br>
<p>Game will be played on: <%= @event.date %></p>


<% if  current_user == @event.user %>

    <% @bookings.each do |booking| %>
      <%= simple_form_for([@event, booking]) do |f| %>
        <%= booking.user.profile.first_name %>
        <%= f.input :accepted %>
        <%= f.submit %>
      <% end %>

    <% end %>

<% else %>
  <% if @event.bookings.any? %>

    <h3>The following people are attending:</h3>

    <% @event.bookings.each do |booking| %>
        <% if  booking.accepted %>
          <%= booking.user.profile.first_name %>
        <% end %>
    <% end %>

  <% end %>

  <%= simple_form_for([@event, @booking]) do |f| %>
    <%= f.submit "Join the Party" %>
  <% end %>

  <% if @booking.errors.any? %>
    <%=  render 'shared/error-messages' %>
  <% end %>

<% end %>

<%if policy(@event).edit?  %>
  <p><%= link_to "edit", edit_event_path(@event) %></p>
<% end %>

<%= link_to "Home", root_path  %>

</div>

